.app {
  display: flex;
}
.nav {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  border: 3px solid black;
}
.home__button {
  color: blue;
  display: flex;
  margin: auto auto auto auto;
  text-decoration: none;
}
.home__button:hover {
  color: lightblue;
}
.inhoud {
  display: flex;
  width: 90%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.inhoud__article {
  display: flex;
  border: 1px solid black;
  width: 45%;
  height: 400px;
}
.title {
  color: red;
}
.info {
  color: red;
}
